<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="container">
      <div class="d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-body">Fields goes here</div>
        </div>
      </div>
    </div>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
